<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XSS示例</title>
  <style type="text/css">
    .div-group {
      padding: 20px;
      margin-bottom: 20px;
      border: 1px dashed #f00;
    }
  </style>
</head>
<body>
  <!-- script标签中，事件中输出：将不可信数据插入到JavaScript数据值之前，进行JavaScript转义 -->

  <!-- <script>alert('...encodeForJavascript...')</script>    写在引号包裹的字符串中 -->
  <!-- <script>x='...encodeForJavascript...'</script>         写在表达式中的引号中 -->
  <!-- <div onmouseover="x='...encodeForJavascript...'"</div> 写在引号包裹的事件处理程序中 -->

  <!-- 编码规则：除字母数字字符外，请使用\xHH格式转义ASCII码小于256的所有字符 -->
  <!-- 编码规则2：\ " ' / \n \r 编码这些字符-->

   <!-- xss 攻击 -->
  <div class="div-group">
    <p onclick="console.log('{{a}}')">
      This is in a!
    </p>
  </div>

  <!-- encodeForJavascript避免攻击 -->
  <div class="div-group">
    <p onclick="console.log('{{b|encodeForJavascript}}')">
      This is in b!
    </p>
  </div>

  <script>
    console.log('{{c}}');
    console.log('{{d|encodeForJavascript}}');
    // 有些JavaScript函数不能安全的使用不可信数据作为输入——即便是进行JavaScript转义
    setTimeout('{{e|encodeForJavascript}}', 1000);
  </script>
</body>
</html>
