<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New ThinkJS Application</title>
<style>
  .p1:before {
    content: '\5b89';
  }
</style>
</head>

<body>
  <p class="p1"></p>
  <p class="p2">&#23433; <--> &#x5b89;</p>

  <a href="{{b}}">简单的逃逸</a>
  <a href="{{b|encodeForHTMLAttibuteSimple}}" id="fuzzelement1">test</a>

  <script type="text/javascript">
    console.log('\u5b89');
    console.log('{{a|encodeForJavascript}}');
    console.log('{{a|encodeForJavascriptSimple}}');
  </script>

</body>
</html>
