<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XSS示例</title>
  <script src="http://lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="/static/js/js-xss.js"></script>
</head>
<body>
  <div class="p1"></div>
  <!-- https://github.com/leizongmin/js-xss -->
  <!-- 白名单过滤 -->
  <script type="text/javascript">
    var options = {
      whiteList: {
        p: ["style", "title", "target"]
      },
      stripIgnoreTagBody: true
    };
    var untrustedData = '<p style="color: #f00;">Hello World!</p><script>alert("xss");<\/script>';
    var innerHtml = filterXSS(untrustedData, options);
    console.log(innerHtml);
    $('.p1').html(innerHtml);

    // jquery 以下方法可能导致 XSS 漏洞
    // .after()
    // .append()
    // .appendTo()
    // .before()
    // .html()
    // .insertAfter()
    // .insertBefore()
    // .prepend()
    // .prependTo()
    // .replaceAll()
    // .replaceWith()
    // .unwrap()
    // .wrap()
    // .wrapAll()
    // .wrapInner()
    // .prepend()
  </script>
</body>
</html>
