<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XSS示例</title>
  <style type="text/css">
    .div-group {
      padding: 20px;
      margin-bottom: 20px;
      border: 1px dashed #f00;
    }
  </style>
  <script src="http://lib.baomitu.com/jquery/2.2.4/jquery.js"></script>
</head>
<body>
  <!-- 在HTML属性中输出： 将不可信数据放入典型的属性值里，如width,name和value等进行HTML属性编码-->
  <!-- 编码规则：除了字母数字字符以外，使用 &#xHH;(或者命名实体)来转义ASCII值小于256所有的字符 -->

  <div class="div-group">
    <p class="{{a}}">1. 未进行 HTML Attribute 编码</p>
  </div>

  <div class="div-group">
    <p class="{{b|encodeForHTMLAttibuteSimple}}">2. 进行 HTML Attribute 编码</p>
  </div>

  <!-- 事件处理程序如onmouseover，onclick等此规则不适用 -->
  <div class="div-group">
    <p onclick="{{c1|encodeForHTMLAttibuteSimple}}">3.1 对于事件属性，HTML Attribute 编码无效</p>
  </div>

  <!-- 这个规则不应该用于复杂属性：href、src、style -->
  <div class="div-group">
    <ul>
      <li>
        <a href="{{d1|encodeForHTMLAttibuteSimple}}"> 4.1 此条编码规则不适用于 href、src、style 等复杂属性</a>
      </li>
      <!-- <li>
        <a href="{{d2}}">4.2 此条编码规则不适用于 href、src、style 等复杂属性</a>
      </li> -->
      <li>
        <a href="{{d3 | encodeForHTMLAttibute('href')}}">4.3 HTML Attribute 编码加强版</a>
      </li>
    </ul>
  </div>
</body>
</html>
