<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>XSS 示例</title>
</head>
<body>
  <script type="text/javascript">
    var a = decodeURIComponent(document.URL);
    document.write(a.substring(a.indexOf("a=")+2,a.length));

    // DOM-based XSS 基于文档对象模型的一种漏洞
    // DOM-based XSS，输出点在DOM，通过URL传入参数去控制触发，反射型一种
    // 存储型XSS, 就是存入了数据库，再取出来导致的xss
    // 反射型XSS，通过url控制了页面的输出
    //
    // document.location
    // document.URL
    // document.URLUnencoded
    // document.referrer
    // window.location
    //
    // document.write()
    // document.writeln()
    // document.boby.innerHtml
    // eval()
    // window.execScript()
    // window.setInterval()
    // window.setTimeout()
    //
    // document.location
    // document.URL
    // document.open()
    // window.location.href
    // window.navigate()
    // window.open
  </script>

</body>
</html>
